<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Convertisseur EURO</title>
        <script type:"text/javascript" src="node_modules/vue/dist/vue.js"></script>
        <script type:"text/javascript" src="node_modules/lodash/lodash.js"></script>
        <script type:"text/javascript" src="node_modules/vue-resource/dist/vue-resource.js"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <h1>Convertisseur EURO</h1>
            <p>
              EUR à changer :
              <input v-model="number">
            </p>
            <p>{{ conversion }}</p>
            <p>Les taux présent ci-dessous sont calculés sur la base EURO. Ils sont mis à jour automatiquement sauf pour le Dinar Tunisien. Car non présent sur l'Api Utilisée.</p>
            <table>
                <thead>
                    <tr>
                        <th>Monnaie</th>
                        <th>Montant</th>
                        <th>Taux</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="montant in montant">
                        <td>{{montant.pays}}</td>
                        <td>{{montant.conversion}}</td>
                        <td>{{montant.taux}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        <script type:"text/javascript" src="index.js"></script>
    </body>
</html>