body{
    background-image: url("https://images4.alphacoders.com/201/thumb-1920-201716.jpg");
    color: white;
}
h1{
    text-shadow: rgb(146, 146, 146) 1px 1px 1px;
}
#app{
    text-align: center;
}
table{
    background-color: white;
    border-collapse: collapse;
    box-shadow: 2px 2px 2px rgb(102, 102, 102);
    color: black;
    width: 50%;
    margin: auto;
}
td{
    border: 1px solid black;
    padding: 1rem;
    outline: none;
}
th{
    border: 1px solid black;
    background-color: rgb(126, 126, 126);
    padding: 1rem;
}